.dashboardbody-main{
   height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
   
   
    .dash-header{
        height: 15%;
        background-color: transparent;
        box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);;
        box-shadow: yellow;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 2%; 
    
        }
        .dash-head-email{
            display: flex;
        }
        .email{
            margin: 0px;
            padding-top: 20px;
            padding-left: 15px;
        }
        .cancel {
            cursor: pointer;
            height: 50px;
            border-radius: 50%;
        }
        .logout{
            cursor: pointer;
            height: 30px;
            border-radius: 50%; 
        }
        .dash-body{
            height: 85%;
            width: 100%;
            
        }
    }
