@font-face {
    font-family:"Bodoni SvtyTwo OS ITC TT";
    src: url(bod72ob-\ \(1\).ttf);
  }
@font-face {
    font-family:"IowanOldStyleW01-BoldItalic";
    src: url(IowanOldSt-BT-Italic_24288.ttf);
}  
  


#navbar-section{
    position: relative;
    height: 100vh;
    width: 100%;
}
#navbar-section #bg-img{
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}
#navbar-section .navbar{
  position: absolute;
  width:80%;
  font-family:"Bodoni SvtyTwo OS ITC TT";
  font-size: 33px;
  font-weight: bold;
}
#navbar-section .text{
    position: absolute;
    color: white;
    top: 80%;
    left:15%;
    font-size: 80px;
    font-weight: bold;
    text-shadow: -2px 8px 0 #b98d52;
    font-family:"Bodoni SvtyTwo OS ITC TT";
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: 28px;
}
.collapse{
    margin-top: -50px;
}
#navbar-section .buttons{
    top:40%;
    display: flex;
    flex-direction:column;
    position: absolute;
    left: 10%;
}
#navbar-section .sticker{
    
    display: flex;
    flex-direction: column;
    float:right;
    left: 95.5%;
    top: 50%;
    position:fixed;
    background-color: white;
    padding: 1%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
   
}
 
#nav-section h1{
    top: 70%;
    color: white;
    text-shadow: 5px 5px 25px #fffde7;
    position: absolute;
}
.ns-button{
    color: white;
    border-radius: 50%;
    height: 10px;
    width: 8px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: none;
}
.carousel-indicators li {
    margin:1% !important;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
}

.carousel-indicators {
    flex-direction: column !important;
    position: absolute;
    right: 70% !important;
    bottom: 50% !important;
    left: 10% !important;
   
    margin-right: 0% !important;
   margin-left: 0% !important;
}
#section2{
    padding: 1%;
    background-color:#8B5E3C;
}
#section2 .section2-text{
    justify-content: center;
    text-align: center;
    color: white;
   
   
}
#section3{
    height: 300px;
   
    background-color: white;
}
#section3 .band{
    margin-top: 100px;
    height: 30px;
    margin-left: 50px 0px;
    background-color:#FFF4E1;
}
#section3 .section3-block{
    background-color:#FFF4E1;
    height: 150px;  
    border-radius: 25px;
    position: absolute;
    width:500px;
    left: 35%;
    top: -20px;
    align-content: center;
}
#section3 .section3-block h5{
   padding: 50px 100px;
   font-size: 25px;
}