.dashboard-main{
    height:100%;
    width:100%;
    
    display: flex;
    .dashboard-sidebar{
        height: 100%;
        width: 20%;
        background-color: #f9fcff;
       
    }
    .dashboard-body{
        height: 100%;
        width: 80%;
       
    }
}