.profile{
    height: 100%;
    width:100%;
    text-align: left;
    padding:1% 5%;
    
    box-sizing: border-box;
    form{
        height: 100%;
        width: 50%;
        
        box-sizing: border-box;
        
    }
    .form-input{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding:5px 10px;
        font-size: 15px;
        .label{
            font-size: 12px;
            margin-bottom: 8px;
        }
        .input{
            height: 25px;
            background-color: transparent;
            border: 0;
            border-radius: 3px;
            border: 1px solid #e5e5e5;

        }
        .validate{
            font-size: 12px;
            color: red;
            margin-top: 2px;
          }
    }
    .form-email{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding:5px 10px;
        font-size: 15px;
        .label{
            font-size: 12px;
            margin-bottom: 8px;
        }
        .input{
            height: 25px;
            background-color: transparent;
            border: 0;
            border-radius: 3px;
            border: 1px solid #e5e5e5;
            

        }  
    }
    .form-group{
        display: flex;
     
    }
    .button{
    color: white;
    padding: 10px;
    margin: 10px;
    width: 30%;
    background-color: blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    }
    .edit-button{
        color: white;
        padding: 10px;
        margin: 10px;
        width: 10%;
        background-color: blue;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        float: right;
    }
    .edit-button-red{
        color: white;
        padding: 10px;
        margin: 10px;
        width: 10%;
        background-color: rgb(121, 49, 15);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        float: right;
    }
    .user-detail{
        display: flex;
        margin-bottom: 50px;
        .email-conta{
            font-size: 12px;
            margin-top: 20px;
        }
    }
}